<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d - %X{urid} - %p %C{1.}  [%t] %m%n" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="/atom/auth-service/logs/auth-service.log"
			filePattern="/atom/auth-service/logs/$${date:yyyy-MM}/auth-service-%d{-dd-MMMM-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d - %X{urid} - %X{userName} - %p %C{1.} [%t] %m%n
				</pattern>
			</PatternLayout>
			<Policies>
				<!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- LOG everything at INFO level -->
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>


		<Logger name="com.revx" level="debug"></Logger>
	</Loggers>

</Configuration>